<div class="config">
    <p>初期設定</p>
    <label>
        <span class="textbox-1-label">user</span>
        <input type="text" class="textbox-1" placeholder="Username"/>
    </label>

    <label>
        <span class="textbox-1-label">password</span>
        <input type="password" class="textbox-1" placeholder="Password"/>
    </label>

    <label>
        <span class="textbox-1-label">save path</span>
        <input type="file" class="textbox-1" placeholder="Save Path"/>
    </label>

    <button>完了</button>
</div>
