<div class="diary">
    <div class="diary__header">
        <h1 id="{{ diaryInfo.date }}">
            <!-- TODO: i18n -->
            <!-- {{ diaryInfo.year }}年{{ diaryInfo.month }}月{{ diaryInfo.day }}日（{{ diaryInfo.dow }}） -->
            {{ diaryInfo.year }}年{{ diaryInfo.month }}月{{ diaryInfo.day }}日（{{["日", "月", "火", "水", "木", "金", "土"][diaryInfo.dow] }}）
        </h1>

        <div class="diary__toolbar">
            <span class="material-icons" (click)="edit()">edit</span>
            <span class="material-icons" (click)="toTop()">vertical_align_top</span>
        </div>
    </div>
    <div [innerHTML]="diaryInfo.diary"></div>
</div>
