.calendar {

    .calendar__container {
        display: flex;
        flex-wrap: wrap;

        .calendar__day-of-week {
            width: 14.1%;
            border: 1px solid #ddd;
            font-weight: bold;
            text-align: center;
        }

        .calendar__day {
            width: 14.1%;
            height: 80px;
            border: 1px solid #ddd;
            padding: 0px;
            position: relative;
            span {
                display: block;
                // width: 100%;
                // border-bottom: 2px solid #0066ff;
                position: absolute;
                font-size: 12px;
                font-weight: bold;
                color: #3e3e3e;
                top: 0px;
                right: 10px;
            }
            div {
                width: 100%;
                margin-top: 20px;
                border: 0px;
                overflow-y: hidden;
                height: 60px;
                p {
                    font-size: 10px;
                    // font-weight: bold;
                    padding: 0px;
                    margin: 0px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        .calendar__day--fill {
            background: #f4f4f4;
            cursor: pointer;
        }

        .calendar__other-month-day {
            width: 14.1%;
            height: 80px;
            border: 1px solid #ddd;
            padding: 0px;
            position: relative;
            span {
                position: absolute;
                font-size: 12px;
                font-weight: bold;
                color: #bebebe;
                top: 0px;
                right: 10px;
            }
        }
    }
}
