<div class="calendar">
    <div class="calendar__header">
        <a href="">先月</a>
        <div class="calendar__year-and-month">
            <select [(ngModel)]="year" (change)="changeCalender()">
                <option *ngFor="let year of years">{{ year }}</option>
            </select>
            <select [(ngModel)]="month" (change)="changeCalender()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <a href="">次月</a>
    </div>
    <div #calendarContainer class="calendar__container"></div>
</div>
月日記数 [31] 年日記数 [365] 総日記数 [6032]

