<div class="calendar">
    <div class="calendar_head">
        <a href="">先月</a>
        <div class="year_and_month">
            <select>
                <option>2023</option>
            </select>
            <select>
                <option>01</option>
            </select>
        </div>
        <a href="">次月</a>
    </div>
    <div class="day_of_week">
        <div>日</div>
        <div>月</div>
        <div>火</div>
        <div>水</div>
        <div>木</div>
        <div>金</div>
        <div>土</div>
    </div>
    <div class="week">
        <div></div>
        <div></div>
        <div>
            <span>1</span>
            <div>
                <p>画像表示できるセレクトボックスコンポーネント開発（１５）</p>
                <p>体調観察</p>
            </div>
        </div>
        <div><span>2</span></div>
        <div><span>3</span></div>
        <div>
            <span>4</span>
            <div>
                <p>何事も基本が大事だと思い立った</p>
                <p>実践Playwright（１）</p>
                <p>体調観察</p>
            </div>
        </div>
        <div><span>5</span></div>
    </div>
    <div class="week">
        <div><span>6</span></div>
        <div><span>7</span></div>
        <div><span>8</span></div>
        <div><span>9</span></div>
        <div><span>10</span></div>
        <div><span>11</span></div>
        <div><span>12</span></div>
    </div>
    <div class="week">
        <div><span>13</span></div>
        <div><span>14</span></div>
        <div><span>15</span></div>
        <div><span>16</span></div>
        <div><span>17</span></div>
        <div><span>18</span></div>
        <div><span>19</span></div>
    </div>
    <div class="week">
        <div><span>20</span></div>
        <div><span>21</span></div>
        <div><span>22</span></div>
        <div><span>23</span></div>
        <div><span>24</span></div>
        <div><span>25</span></div>
        <div><span>26</span></div>
    </div>
    <div class="week">
        <div><span>27</span></div>
        <div><span>28</span></div>
        <div><span>29</span></div>
        <div><span>30</span></div>
        <div><span>31</span></div>
        <div></div>
        <div></div>
    </div>
</div>
月日記数 [31] 年日記数 [365] 総日記数 [6032]

